html,body {
    margin:0;
    padding:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-size: cover !important;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.inner {
    text-align: center;
    font-weight: 300;
    padding-top: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    h1 {
        margin: 0;
        color: #fff;
        font-size: 3em;
    }
    h2 {
        margin: 0;
        font-weight: 300;
        color: #efefef;
    }
}
body {
    .inner {
        transform: translateY(0);
        transition: all .3s ease-in;
    }
}
.page-open {
    .inner {
        transform: translateY(-100%);
        transition: all .3s ease-in;
    }
}



html, body,
.container {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    overflow-y: scroll;
    background: #333;
}

.splitlayout {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
}

/* Intro sides */
.side {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 50%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
}

.open-left .side,
.open-right .side {
    cursor: default;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 499;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.side-left .overlay {
    background: rgba(0,0,0,0.7);
}

.side-right .overlay {
    background: rgba(0,0,0,0.3);
}

.side-left {
    left: 0;
    // background: #47a3da;
    color: #fff;
    // outline: 1px solid #47a3da; /* avoid gap */
}

.side-right {
    right: 0;
    // background: #fff;
    color: #47a3da;
    // outline: 1px solid #fff; /* avoid gap */
}

/* Intro content, profile image and name, back button */
.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 1em;
    width: 50%;
    cursor: pointer;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.profile {
    margin: 0 auto;
    width: 140px;
    height: 140px;
}

.profile img {
    max-width: 100%;
    // opacity: 0.6;
}

.intro-content h1 > span {
    display: block;
    white-space: nowrap;
}

.intro-content h1 > span:first-child {
    font-weight: 300;
    font-size: 2em;
}

.intro-content h1 > span:nth-child(2) {
    position: relative;
    margin-top: 0.5em;
    padding: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.intro-content h1 > span:nth-child(2):before {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #fff;
    content: '';
}

.side-right .intro-content h1 > span:nth-child(2):before {
    background: #47a3da;
}

.back {
    position: fixed;
    top: 2.6em;
    z-index: 500;
    display: block;
    visibility: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #47a3da;
    text-align: center;
    font-size: 22px;
    line-height: 44px;
    opacity: 0;
    pointer-events: none;
}

.mobile-layout .back { /* fixed positioning will make this not clickable after scrolling on some mobile devices */
    position: absolute;
}

.back-left {
    left: 12.5%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.back-right {
    right: 12.5%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    color: #fff;
}

.open-right .back-left,
.open-left .back-right {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    pointer-events: auto;
}

.back:hover {
    color: #ddd;
}

/* Pages */
.page {
    position: relative;
    top: 0;
    overflow: auto;
    min-height: 100%;
    width: 75%;
    height: auto;
    font-size: 1.4em;
    -webkit-backface-visibility: hidden;
}

.page-right {
    left: 25%;
    // outline: 5px solid #ecf0f1; /* avoid rounding gaps */
    background: #ecf0f1;
    color: #97a8b2;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.page-left {
    left: 0;
    // outline: 5px solid #34495e; /* avoid rounding gaps */
    background: #34495e;
    color: #fff;
    text-align: right;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

/* Inner page content */
.page-inner {
    padding: 2em;
    min-height: 100vh;
    box-sizing:border-box;
}

.page-inner section {
    padding-bottom: 1em;
}

.page-inner h2 {
    margin: 0 0 1em 0;
    font-weight: 300;
    font-size: 2.4em;
}

.page-inner p {
    font-weight: 300;
    font-size: 1.2em;
}

/* All transitions */
.side,
.page {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.overlay {
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.1s 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.1s 0.5s ease-in-out;
}

.intro-content {
    -webkit-transition: -webkit-transform 0.5s ease-in-out, top 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
}

.intro-content h1,
.back {
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

/* Open and close */

/* We need to set the position and overflow for the respective page scroll */
.reset-layout .page,
.splitlayout.open-right .page-left,
.splitlayout.open-left .page-right,
.splitlayout.close-right .page-left,
.splitlayout.close-left .page-right {
    position: absolute;
    overflow: hidden;
    height: 100%;
}

.splitlayout.open-right .page-right,
.splitlayout.open-left .page-left {
    position: relative;
    overflow: auto;
    height: auto;
}

.open-right .side-left .overlay,
.open-left .side-right .overlay {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

/* Right side open */
.open-right .side-left {
    -webkit-transform: translateX(-75%) scale(.5);
    transform: translateX(-75%) scale(.5);
}

.open-right .side-right {
    z-index: 200;
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
}

.close-right .side-right {
    z-index: 200;
}

.open-right .side-right .intro-content {
    -webkit-transform: translateY(-50%) translateX(0%) scale(0.6);
    transform: translateY(-50%) translateX(0%) scale(0.6);
}

.open-right .page-right {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

/* Left side open */
.open-left .side-right {
    -webkit-transform: translateX(75%) scale(.5);
    transform: translateX(75%) scale(.5);
}

.open-left .side-left {
    z-index: 200;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
}

.close-left .side-left {
    z-index: 200;
}

.open-left .side-left .intro-content {
    -webkit-transform: translateY(-50%) translateX(-100%) scale(0.6);
    transform: translateY(-50%) translateX(-100%) scale(0.6);
}

.open-left .codropsheader {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, visibility 0.1s 0.3s;
    transition: opacity 0.3s, visibility 0.1s 0.3s;
}

.open-left .page-left {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

/* Media Queries */
@media screen and (max-width: 83em) {
    .intro-content { font-size: 60%; }
}

@media screen and (max-width: 58em) {
    body { font-size: 90%; }
}

@media screen and (max-width: 49.4375em) {
    .open-right .side-right {
        -webkit-transform: translateX(-175%);
        transform: translateX(-175%);
    }

    .open-right .side-left {
        -webkit-transform: translateX(-100%) scale(.7);
        transform: translateX(-100%) scale(.7);
    }

    .open-left .side-right {
        -webkit-transform: translateX(100%) scale(.7);
        transform: translateX(100%) scale(.7);
    }

    .open-left .side-left {
        -webkit-transform: translateX(175%);
        transform: translateX(175%);
    }

    .page {
        width: 100%;
    }

    .page-right {
        left: 0;
        padding-left: 15%;
    }

    .page-left {
        padding-right: 15%;
    }

    .intro-content {
        width: 100%;
    }

    .open-right .side-right .intro-content {
        top: 100%;
        -webkit-transform: translateY(-150px) translateX(-12.5%) scale(0.5);
        transform: translateY(-150px) translateX(-12.5%) scale(0.5);
    }

    .open-left .side-left .intro-content {
        top: 100%;
        -webkit-transform: translateY(-150px) translateX(-87.5%) scale(0.5);
        transform: translateY(-150px) translateX(-87.5%) scale(0.5);
    }

    .open-right .intro-content h1,
    .open-left .intro-content h1 {
        opacity: 0;
    }

    .back-left {
        left: 6.25%;
    }

    .back-right {
        right: 6.25%;
    }
}

@media screen and (max-width: 42.5em) {
    body { font-size: 80%; }
    .intro-content { font-size: 50%; }
}

@media screen and (max-height: 41.125em) {
    .intro-content {
        -webkit-transform: translateY(-25%) translateX(-50%);
        transform: translateY(-25%) translateX(-50%);
    }
}

@media screen and (max-width: 39.375em) {
    .intro-content .profile { -webkit-transform: scale(0.5); transform: scale(0.5); }
}

@media screen and (max-width: 320px) {
    body { font-size: 70%; }
}












$base-font-family: 'Open Sans', sans-serif;
$gray-light: #B8BABA;
$input-bg-color: #fff;
$widget-bg-color: #fff linear-gradient(#fff 50%, #f5f5f5 100%);

body {
  font-family: $base-font-family;
}

h1 {
  font-size: 1.5em;
}

// .container {
//   max-width: 640px;
// }

.screen-reader-text {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

.focus {
    border-color: #0B92F6;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.075), 0 0 2px rgba(102,175,233,.6);
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
    filter: alpha(opacity=60);
}

// get rid of broswer widget styling & apply a natural box layout model to all elements
*, *:before, *:after {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  box-sizing: border-box;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  background: $input-bg-color;
}

fieldset {
  position: relative;
  width: 100%;
}

/*

Inputs & Labels
______________________
*/

label {
    display: block;
    font-size: 13px;
    input, select {
        margin-top: .3em;
    }
}

input[type=text], input[type=email], input[type=tel], input[type=date], textarea, select {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 35px;
    padding: 7px;
    outline: 0;
    border: 1px solid $gray-light;
    border-radius: 3px;
    font-size: 14px;
    transition: border-color .25s, box-shadow .25s;

    &:focus {
    @extend .focus;
    }
}

textarea {
    max-width: 100%;
    height: auto;
}

/*

Select
______________________
*/

select {
    text-indent: 0.01px;
    text-overflow: '';
    background: $widget-bg-color;
    &::-ms-expand {
        display: none;
    }
}

.select label {
    &:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 44px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: darken($gray-light, 25%);
    border-bottom: none;
    pointer-events: none;
    }
}

/*

Checkbox & Radio
______________________
*/

/* all browsers that support what we need, also support the :root pseudo-class */

.checkbox, .radio {
    ul {
        margin: 0;
    }
    li {
        list-style: none;
    }
}

input[type=checkbox], input[type=radio] {
    + label {
        display: inline-block;
        cursor: pointer;
    }
}

:root {
  input[type=checkbox], input[type=radio] {
    + label {
      position: relative;
      padding-left: 22px;
    }
  }

    input[type=checkbox], input[type=radio] {
        @extend .screen-reader-text; // let's hide this the same so we don't take a performance hit
        + label {
            &:before {
                content: '';
        position: absolute;
        left: 0;
        top: 8px;
                display: inherit;
          height: 16px;
          width: 16px;
                margin : 0 .5em 0 0;
                border: 1px solid $gray-light;
          font-family: $base-font-family;
                font-size: 14px;
                text-align: center;
                background: $widget-bg-color;
                vertical-align: middle;
            }
        }

        &:disabled + label:before {
            @extend .disabled;
        }

        &:checked:disabled + label:before {
            @extend .disabled;
        }

        &:focus + label:before {
            @extend .focus;
        }
    }

    input[type=checkbox] {
        + label {
            &:before {
                border-radius: 3px;
            }
        }

        &:checked + label:before {
          content: '\2714';
       line-height: 14px;
        }
    }

    input[type=radio] {
        + label {
            display: block;
            &:before {
                display: inline-block;
                border-radius: 50%;
            }
        }

     &:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 13px;
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #000;
        border-radius: 50%;
        }
    }
}

input[disabled], input[readonly], input[disabled] + label, input[readonly] + label {
    @extend .disabled;
}

input[type=submit] {
  display: inline-block;
  padding: 9px 18px;
  border: 1px solid #339AF2;
  border-radius: 3px;
  font-size: 14px;
  color: #339AF2;
  cursor: pointer;
  transition: all .25s;

  &:hover {
    color: #fff;
    background: #339AF2;
  }
}

.field {
    text-align: left;
}

.click-icon {
    border: 2px solid #ddd;
    @include clearfix;
    display: inline-block;
    position: relative;
    background: #fff;
    text-align: center;
    text-decoration: none !important;
    &:hover {
        box-shadow: 0 0 3px #ddd;
    }
    img {
        display: block;
        height: 80px;
        margin: auto;
    }
    span {
        display: block;
        font-size: .7em;
        color: #97a8b2;
        text-decoration: none;
    }
}
